article {
  width: 100%;
  padding-top: 50px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 50px);
  p {
    color: #272727;
    width: 45%;
    margin: 0 auto;
    padding: 10px 0;
    font-weight: medium;
    font-size: 17px;
    &:last-child {
      text-align: right;
      padding-right: 180px;
    }
    &.red {
      color: var(--color-primary);
    }
  }
}
