<app-header></app-header>
<article>
  <p>¡Hola!</p>
  <p>
    Soy Nacho Sáenz de Tejada, un programador full-stack que ante la recurrente
    pregunta de "¿qué te gusta más, el back o el front?", responde sin dudarlo:
    "¡Los dos!"
  </p>
  <p>
    De jovén estudié ingeniería industrial en la UCM, por lo que estoy bastante
    familiarizado con el pensamiento lógico y matemático que requiere la
    programación. Allí aprendí a programar por primera vez, en TurboPascal.
  </p>
  <p>
    Posteriormente estudié programación en C# .NET y gestión de bases de datos
    SQL Server. Y más recientemente completé mi formación con un bootcamp
    full-stak de desarrollo web (Javascript, Typescript, CSS, HTML, Node,
    Angular, MySql, MongoDB, Ionic, Git, etc.).
  </p>
  <p>
    Mi experiencia docente se reduce a las clases particulares de ajedrez que he
    impartido durante algunos años, generalmente a jóvenes, pero sinceramente
    creo que enseñar siempre ha sido uno de mis fuertes. Siempre me tocaba a mí
    explicar las instrucciones de los juegos de mesa a mis amigos.
  </p>
  <p>
    Al haber sido estudiante de un bootcamp, creo que tengo bastante presentes
    las necesidades de los alumnos que se apuntan a estos cursos, que requieren
    de un aprendizaje intenso en muy poco tiempo. En mi opinión, el aspecto
    lúdico de la programación es muy importante de cara al aprendizaje, y
    facilita mucho la adquisición de conocimientos.
  </p>
  <p>
    Me considero además un autodidacta, tanto en lo que respecta a la
    programación como en otros ámbitos (música, historia, etc.). Aquello que no
    sé, soy capaz de aprenderlo a buen ritmo, sobre todo con los recursos que
    ofrece hoy en día internet.
  </p>
  <p>
    Espero que este pequeño proyecto sirva para que tengan en cuenta mi
    candidatura.
  </p>
  <p>¡Saludos!</p>
  <p>Nacho.</p>
</article>
<app-footer></app-footer>
