main {
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  .message {
    margin: 0;
    padding-top: 50px;
    text-align: center;
  }
  .contenedor {
    padding-top: 50px;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }
}

@media screen and (max-width: 1650px) {
  main {
    .contenedor {
      width: 90%;
      justify-content: space-around;
    }
  }
}
